<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='mystyle.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <title>shopping cart</title>
</head>

<body>

    <h1>Your Selected Food</h1>
    <form action="/checkout" method="post">
    <div class="shopping-cart">
    
      <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
      </div>

      <% if(records.length>0){
        records.forEach(function(row){
        if(row.pid == 1000){
        %>
        
        <div class="product">
         
            <div class="product-image">
              
              <img src="./upload/<%= row.file %>">
            </div>
            <div class="product-details">
              <div class="product-title">
                <%= row.name %>
              </div>
              <p class="product-description"><%- row.details %></p>
            </div>
            
            <div class="product-price">
              <%= row.price %>
            </div>
            <input type="hidden" value="<%= row.name %>" name="pname">
            <input type="hidden" value="<%= row.price %>" name="pprice"> 
            <div class="product-quantity">
              <input type="number" name="qty" value="1" min="1">
            </div>
            <div class="product-removal">
              <button><a class="remove" href="/add-cart/delete/<%= row._id %>"
                onclick="return confirm('Are you sure?')">Remove</a></button>
            </div>
            <div class="product-line-price">
              <%= row.price %>
            </div>
         
          </div>
        </form>

   <% }})} %>
    
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
          <label>Discount </label>
          <div class="totals-value" id="cart-tax">5</div>
        </div>
        <div class="totals-item">
          <label>Delivery </label>
          <div class="totals-value" id="cart-shipping">7</div>
        </div>
      

        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total" name="price">90.57</div>
        </div>
        
      </div>
          <button type="submit" class="checkout">Checkout</button>
        </form>
    
    </div>

  <script>
var taxRate = 0.05;
var shippingRate = 15.00; 
var fadeTime = 300;


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {
  removeItem(this);
});


/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;
  
  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });
  
  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = (subtotal > 0 ? shippingRate : 0);
  var total = subtotal + tax + shipping;
  
  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;
  
  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });  
}


/* Remove item from cart */
function removeItem(removeButton)
{
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
    recalculateCart();
  });
}
  </script>
</body>

</html>
