<%- include('header') %>
  
<div class="container">
  <div class="row">
      <h1>Product Category Lists</h1>
      <br>
   <table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>Product Category Name</th>
         <th>Category Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
     <% if(records.length >0){
      records.forEach(function(row){
      %>
      <tr>
        <td>
          <%= row.menuCategory %>
        </td>
       <td>
        <div class="col-md-4">
            <img src="./upload/<%= row.file %>" alt="image" style="width: 50px; margin: 5px auto;">
        </div>
       </td>
        
        <td>
          <a class="btn btn-danger btn-xl" href="/menuCategory/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      <%  }) } %>
    </tbody>
  </table>
</div>
</div>


    <%- include('footer') %>