<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body >
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">Restaurant Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user">Home</a></li>
            <li ><a href="/personl">My Slot</a></li>
            <li ><a href="/myorder">My Orders</a></li>
                <li><a href="/logout">Logout</a></li>
          </ul>
          <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <% if(loginUser){ %> <%= loginUser  %> <% } %></a></div>
        </div>
      </nav>
      
<div class="container">
    <div class="row">
        <h1>View Password Lists</h1>
        <br>
     <table class="table table-striped table-primary">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th> From </th>
          <th> TO</th>
          <th> Date </th>
          <th> Persons </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       <% if(records.length>0){
        records.forEach(function(row){
       
        %>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.email %></td>
          <td><%= row.pnumber %></td>
          <td><%= row.slotf %></td>
          <td><%= row.slott %></td>
          <td><%= row.date %></td>
          <td><%- row.person %></td>
          <td>
            <a class="btn btn-danger btn-xs" href="/slot/delete/<%= row._id %>" onclick="return confirm('Are you sure?')">Cancel</a>
          </td>
        </tr>
        <!-- Modal -->

        <%  })} %>
      </tbody>
    </table>
   
  
  </div>
</div>

</body>
</html>

